*{
    margin: 0;
    padding: 0;
    font-family: "General sans";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#minicircle{
    transition: all cubic-bezier(0.19,1,0.22,1) 1s;
    width: 10px;
    height: 10px;
    position:fixed;
    z-index: 999;
    border-radius: 50%;
    background-color: #fff;
    pointer-events: none;
    transform: translate(-50%, -50%);
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}
#nav a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
#heading{
    margin-top:90px ;
}
#heading h1{
    margin-left:30px ;
    opacity: .6;
    line-height: 1;
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading #secoundh1{
    margin-left: 230px;
}

.blocktext{
    width: fit-content;
}
.blocktext h5{
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}
#chhotiheadings {
    margin-top: 100px;
    padding-right: 50px;
}

#chhotiheadings h5 {
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1vw;
    text-align: right;
}

#herofooter{
    padding:0 2vw ;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #iconset{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}

#secound{
    color: #fff;
    padding-right: 10vw;
    padding-top: 100px;
    background-color: black;
    width: 100%;
    height: 100vh;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border: 1px solid #888;
}
.elem h1{
    text-transform: uppercase;
    font-size: 7vw;
    opacity: .7;
}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem img{
    /* opacity: 0; */
    display: none;
    height: 140%;
    z-index: 999;
    position: absolute;
}

#about{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10vw 10vw;
    padding-left: 40vw;
    width: 100%;
    background-color: black;
}
#textabout{
    width: 25rem;

}
#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}
#about img{
    width: 200px;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
#subscribe{
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 7vw;
    background-color: black;
}
#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 40px 30px;
}
#footerleft{
    display: flex;
    gap: 20px;
}
#footerright{
    display: flex;
    gap: 30px;
}
#footer a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

